
<div class="card text-dark">
  <%= image_tag "9cakes.jpg",size: "1200x600",class: "mx-auto" %>

  <div class="card-img-overlay mx-auto d-flex align-items-center justify-content-center flex-column">

      <h1 class="card-title font-weight-bold">About</h1>
      <p class="card-text font-weight-bold">ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        お子様からお年寄りの方までお召し上がりいただけるよう、<br>
        さまざまなバリエーションをご用意しております。<br>
        ぜひご注文ください。
      </p>

  </div>
</div>
